@import "/static/css/form.css";
@import "/static/css/menu.css";
@import "/static/css/profile.css";
@import "/static/css/player.css";

*,
*::after,
*::before{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    text-transform: none;
    color: #fff;
}
button{
    outline: none;
}

button:focus{
    outline: none;
}

.main{
    min-height: 100vh;
    background-color: rgb(245, 245, 245);
}

.header{
    width: 100%;
    height: 80px;
    background-color: black;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.header_logo{
    width: 20%;
    font-weight: bolder;
    font-size: 50px;
    text-align: center;
}

.logo{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.header_nav{
    font-size: 25px;
    font-weight: normal;
    text-align: center;
    align-self: center;
    color: white;
    text-decoration: none;
    margin-right: 30px;
}

.header_menu{
    width: 100%;
    height: 70%;
    display: flex;
    padding: 0 60px;
}

.header_menu h1{
    padding: 15px 0;
}

.img_menu img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(255, 255, 255, 1);
}

.img_menu{
    margin-left: 20px;
    margin-top: 5px;
}

.header_menu:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 10px rgba(255, 255, 255, 1);
}

.button{
    color: white;
    text-decoration: none;
    padding: 10px;
    position: relative;
    transition: 0.1s;
    text-align: center;
    border: 0;
}

.button::before,
.button::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.5s;
    top: 0px;
    left: 0px;
}

.button::before{
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transform: scale(0, 1);
}

.button::after{
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: scale(1, 0);
}

.button:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 10px rgb(255, 255, 255);
}

.button:hover::before,
.button:hover::after{
    transform: scale(1, 1);
}

.head{
    width: 100%;
    max-width: 1200px;
    margin: 100px auto;
    text-align: center;
    font-size: 50px;
}

.menu_back{
   width: 100vw;
   height: 100vh;
   position: fixed;
   top: 0;
   left: 0;
   background: black;
   transition: 0.5s;
   opacity: 0;
   display: none;
   justify-content: center;
   flex-direction: column;
   transition: 0.5s;
   z-index: 1000;
}

.container{
    width: 100%;
    max-width: 1200px;
    height: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.model_main{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s opacity 0.5s;
    z-index: 100;
}

.model_activ{
    visibility: visible;
    opacity: 1;
}

.model{
    background-color: rgba(255, 255, 255, 1);
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.list_music{
    width: 90vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.music_card{
    background-color: white;
    height: auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
    margin-bottom: 10px;
}

.music_card_img{
    width: 400px;
    height: 400px;
    position: relative;
}

.music_card_img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.music_card_text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px 15px;
}

.card_text_listener{
    width: 60%;
}

.card_text_listener h1{
    font-size: 30px;
}


.card_text_listener h3{
    font-size: 20px;
    color: rgb(184, 184, 184);
    display: flex;
    align-items: center;
}

.card_text_info{
    display: flex;
    align-items: center;
    justify-content: end;
}

.card_text_info h3{
    font-size: 20px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    cursor: pointer;
}

.music_card_play{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    transition: 0.5s;
}

.music_card_play span{
    font-size: 100px;
    font-weight: bolder;
}

.music_card_img:hover .music_card_play{
    opacity: 1;
}

.footer{
    width: 100%;
    min-height: 100px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.footer::after{
    content:"";
    width: 100%;
    height: 1px;
    background-color: white;
    position: absolute;
    top: 140px;
    left: 0;
}

.footer_nav{
    width: 80%;
    margin: 0 auto;
    height: 175px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_nav_logo{
    width: 100%;
    text-align: center;
    padding: 20px 0;
    font-size: 40px;
    font-weight: 600;
}

.footer_media{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.button_icon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.footer_info{
    width: 80%;
    margin: 0 auto;
    height: 100px;
    text-align: center;
    color: rgb(207, 207, 207);
    
}

.list_sound_menu{
    display: none;
    flex-direction: column;
    justify-content: start;
    width: 1000px;
    height: 850px;
    background-color: #fff;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
    position: fixed;
    overflow: auto;
    padding-bottom: 10px;
}

.active_menu{
    display: flex;
    z-index: 100;
}

.wrapper{
    font-weight: 400;
    text-align: center;
}

.accordion{
    background-color: black;
    color: white;
    cursor: pointer;
    border: 0px;
    padding: 5px;
    width: 100%;
    text-align: left;
    font-size: 20px;
    transition: .4s;
}

#comments{
    color: black;
}

.accordion.active, .accordion.active:hover{
    background-color: #9B0A07;
}

.panel{
    padding: 0 18px;
    color: black;
    max-height: 0;
    overflow: hidden;
    width: 100%;
    transition: max-height .2s ease-out;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.list{
    width: 250px;
    height: 250px;
}

.list_play span{
    font-size: 25px;
}

.list_info {
    font-size: 10px;
}

.list_listener h1{
    text-align: left;
    font-size: 15px;
}

.list_listener h3{
    font-size: 10px;
}

.list_listener span{
    font-size: 10px;
}

.list_info h3{
    font-size: 15px;
}

.list_info span{
    font-size: 15px;
}

.active_music{
    display: flex;
}

#commens_button{
    color: black;
}

.comments_list{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.comment{
    width: 90%;
    height: auto;
    margin: 5px auto;
    display: flex;
    align-items: center;
}