<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
    <title>{{title}}</title>
</head>
<body>
<header class="header">
    <div class="header_logo">
        <a class="logo" href="/">musical wind</a>
    </div>
    <nav class="header_nav">
	{% if current_user.is_authenticated %}
        <div class="header_menu">
            <h1>{{ current_user.name }}</h1>
            <div class="img_menu"><img src="{{url_for('static', filename=current_user.icon.replace('%5C','/'))}}"></div>
        </div>
	{% else %}
        <a class="button" href="/register">Зарегистрироваться</a>
        <a class="button" href="/login">Войти</a>
	{% endif %}
    </nav>
</header>
<main role="main">
    <div class="menu_back">
        <div class="button_close"><span class="material-icons">close</span></div>
        <div class="menu_back_content menu_profile">
            <div class="menu_profile_img"><img src="{{url_for('static', filename=current_user.icon.replace('%5C','/'))}}"></div>
            <h1>{{ current_user.name }}</h1>
        </div>
        <span class="menu_back_line"></span>
        <div class="menu_back_content">
            <a class="button button_menu" href="/upload_music"><span class="material-icons">file_download</span>Загрузить музыку</a>
            <a class="button button_menu" href="/my_profile"><span class="material-icons">account_circle</span>Профиль</a>
        </div>
        <span class="menu_back_line"></span>
        <div class="menu_back_content">
            <a class="button button_menu" href="/logout"><span class="material-icons">logout</span>Выход</a>
        </div>
    </div>
    {% block content %}{% endblock %}
</main>
<footer>

</footer>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script src="{{ url_for('static', filename='js/dragFile.js') }}"></script>
</body>
</html>